.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar-height {
  height: 80px;
}

.nav-item{
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}


.footer {
  height: 40px;
  background-color: #cc4400;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0.1, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.circle-btn {
  width: 200px;
  height: 500px;
  line-height: 200px;
  text-align: center;
 }

 .bg-light {
  background-color: #f8f9fa !important;
}

.jumbotron {
  background-color: #333;
  color: #fff;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover {
  background-color: #b92c28;
  border-color: #b92c28;
}